extends layout

block content
    .single
        .single__hero
            img.single__image(src= `/uploads/${group.photo || 'store.png'}`)
            h2.title.title--single
                a(href=`/groups/${group.slug}`) #{group.name}
                
    .single__details.inner
        pre= h.dump(group)
        pre= h.dump(user)
        //-if user
            - const usergroup = user.group.toString()
            - const groupid = group._id.toString()    
        p= group.description

        if user
            if (user.group  && user.group === group._id)
                form(action=`/groups/${group.slug}/leave` method="POST")
                    input.button(type="submit" value="Leave Group" style="background : #ff5577;")
            else
                form(action=`/groups/${group.slug}/join` method="POST")
                    input.button(type="submit" value="Join Group")

        br
        br
        if group.author
            p creator - #{group.author.name}
        table.table
            thead
                td Members
                td Name

            each user in group.users
                -const name = user.name.toUpperCase()
                tr 
                    td
                        img.avatar(src= user.gravatar)
                    td
                        p
                            strong= name