extends layout

include mixins/_GroupCard
block content
  .inner
    h1= title
    
    if (events.length == 0)
        p No events now! Looks like a time to have fun!
        p You can create an event from the add section.
    else
        table.table
            thead
                td DATE
                td EVENTS

            each e in events
                -const date = h.moment(e.onDate).format('MMM-DD-YYYY')
                if e.dataModel == 'assesment'
                  tr(style="background-color: lightblue") 
                    td
                        p= date
                    td
                        p
                            strong 
                              p #{e.dataModel.toUpperCase()}
                              p #{e.name} 
                            p= e.description.split(' ').slice(0, 20).join(' ')
                else
                  tr(style="background-color: lightgreen") 
                    td
                        p= date
                    td
                        p
                            strong 
                              p #{e.dataModel.toUpperCase()}
                              p #{e.name} 
                            p= e.description.split(' ').slice(0, 10).join(' ')
